

<center><div class="apple_pagination text-align-center" >
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div></center>
