

 <div class="container" id="home-container">
   <div class="view overlay zoom">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4", id = "logo"><%= image_tag "ConsignmentLogowhite.png", :size => 150 %>Consign Gear</h1><br>
      <p class="lead">Designed specifically with Ski Swaps in mind. An easy way to manage vendors and give your public a check in  portal</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
   </div>
 </div>
