<div class="container">
<h1 class="mt-4">Category: <%= @category.name %> </h1>
</div>



<%= render 'articles/article', obj: @category_articles %>
<%= render 'shared/pagination', obj: @category_articles %>
